*{
    font-family: Mytupi;
}

body {
    margin: 0;
    padding: 0;

}

/*.gradient {
    background: linear-gradient(to bottom, white, lightblue);
  }*/

@font-face {
    font-family: "MyTupi";
    src: url("/Users/ehyunkim/Desktop/projects/p/MyTupi.ttf");
}

.mainme {
    padding: 10px;
    padding-top: 100px;
    color: white;
    font-size: 50px;
    background-size: 100%;
    background-position: center;
    width: 100%;
    height: 600px;
    align-items:center;
    text-align: center;
    background-image: url(assets/mainme.png);
}

.maintext {
    padding: 100px;
    font-size: 25px;
    text-align: center;
}

a { 
    text-decoration: none; 

   }

.art img, .indexcontent1 img {
    width: 300px;
    height: 400px;
    margin: 10px 10px;
    object-fit: cover;
    object-position: 25% 25%; 
}

.landscape img {
    height:300px;
    width: 463px;
}

.portrait img {
    max-height: 500px;
    max-width: 300px;
}

.mecontent img {
    padding-top: 50px;
    max-width: 400px;
    max-height: 500px;
}

p {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: left;
    line-height: 1.5;
}

.mecontent {
    align-items:center; 
    text-align: center;
}

.artcontent {
    align-items:center; 
    text-align: center;
}

.projectcontent{
    padding:100px;
    padding-bottom:200px;
    align-items:center; 
    text-align: center;
}

.extremelandscape img {
    max-height:300px;
    max-width: 700px;
}

.art, .projectcontent img:hover{
    opacity: 50%;
    border-radius: 50px;
    transition: 1s ease;
}
.art, .projectcontent img:active{
    opacity:100%;
}
figcaption{
    font-size: 20px;
}

.heading {
    font-size: 20px;
    text-align: center;
    transition: 1s ease-out;
    margin: auto;
    width: 500px;
}
.heading h1:hover {
    font-size: 50px;
    transition: 0.9s ease;
}

#personalprojectssite {
    font-size: 30px;
    margin-bottom: 280px;
}

.indexcontent1,.indexcontent2,.indexcontent3,.indexcontent4 {
    color: white;
    margin: 100px 100px;
    padding: 100px 100px;
    align-items: center;
    text-align: center;
    transition: 1.5s ease-out;
    border-radius: 50px;
    border: white;
    outline: 0;
}

.indexcontent1:hover,.indexcontent2:hover,.indexcontent3:hover,.indexcontent4:hover {
    border-radius: 100px;
    transition: 0.4s ease;
}

.indexcontent1 {
    background-color:rgba(0, 94, 255);
}

.indexcontent2 {
    background:rgba(255, 0, 0);
}

.indexcontent3 {
    background:rgb(247, 192, 51);
}

.indexcontent4 {
    background: rgba(0, 128, 0);
}

header {
    width:100%;
}

li {
    list-style-type: none;  
    display: inline;
    text-align: center;
}
ul {
    float:center;
    /*list-style: none outside none;*/
    margin-right:0; 
    padding: 0;
    text-align: center;
    /*display:flex;*/
    justify-content:space-between;
    align-items:center; 
}

.navigation a {

    background: white;
    border: 1px solid white;
    border-radius: 3px;
    color: black;
    margin: 0 5px;
    padding: 10px 40px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}
.navigation a:hover {
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    transition: 0.9s ease;
  }

.home1 a:active,.navigation a:active {
    background-color:white;
}

.home a {
    float: left;
    text-decoration: none;
    background: white;
    border: 1px solid white;
    border-radius: 10px;
    color: black;
    margin: 0 20px 0 40px;
    margin-right: auto;
    padding: 10px;
}

.home2 a {
    float: right;
    text-decoration: none;
    background: white;
    border: 1px solid white;
    border-radius: 3px;
    color: black;
    margin: 0 20px;
    margin-right: auto;
    padding: 10px;
    visibility:hidden;
}

.home a:hover{
    animation: colorchange 3s infinite;
    border: 1px solid white;
    border-radius: 25px;
    color: white;
    transition: 0.9s ease;
    padding: 20px;
    padding-right: 100px;
}

@keyframes colorchange {
  0% {
    background: black;
  }
  20% {
    background: rgb(0, 94, 255);
  }
  40% {
    background: red;
  }
  60% {
    background: rgb(247, 192, 51);
  }
  90% {
    background: green;
  }
  100% {
    background: black;
  }
}

#me a:hover {
    background: rgb(0, 94, 255);
}
#projects a:hover {
    background:red;
}
#art a:hover {
    background:rgb(247, 192, 51);
}
#contact a:hover {
    background: green;
}

footer {
    color: white;
    height: 150px;
    width: 100%;
    background: black;
}
.language {
    font-size: 20px;
    opacity: 100%;
}
footer p {
    opacity: 80%;
    text-align: center;
    font-size: 10px;
    font-weight: 100;
    margin: 10px 10px 80px 10px;
}

.language a{
    text-align: center;
    margin: 70px 15px 10px 15px;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
}
#kor {
    font-size: 16px;
}

.language a:hover{
    background-color: white;
    color: black;
    opacity: 90%;
    border: 1px solid white;
    border-radius: 20px;
    transition: 0.6s ease;
}

.contacticon img{
    padding-top:50px;
    padding-bottom:1px;
    display: block;
    margin-top: 200px;

    margin-left: auto;
    margin-right: auto;
    height: 20px;
}

.contacticon p{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 20px;
}

.contacticon a:hover{
    opacity: 50%;
    transition: 0.7s ease;
}

label{
    display:block;
    text-align: center;
    font-size: 30px;
    margin: 40px auto;
}
#name, #email, #message {
    text-align: center;
    font-size: 20px;


    border:solid 2px;
    border-radius: 40px;
    outline: 0;
    padding: 50px 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    max-width: 1000px;
}

#name {
    color:green;
}

#email {
    color:rgb(247, 192, 51);
}

#message {
    color:rgb(0, 94, 255);
}

#name:hover, #email:hover, #message:hover{
    border-radius: 40px;
    color:white;
    transition: 0.7s ease;
}

textarea { resize: none; }

#name:hover {
    background-color:green;
}
#email:hover {
    background-color:rgb(247, 192, 51);
}
#message:hover {
    background-color:rgb(0, 94, 255);
}

#submit {
    font-size: 30px;
    background-color: white;
    border: 0;
    border-radius: 30px;
    outline: 0;
    padding: 30px 100px;
    display: block;
    margin-left: auto;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#submit:hover {
    background-color: red;
    border-radius: 40px;
    color:white;
    transition: 0.7s ease;
}

.nameplace ::placeholder {
    color:green;
}
.emailplace ::placeholder {
    color:rgb(247, 192, 51);
}
.messageplace ::placeholder {
    color:rgb(0, 94, 255);
}

.cat {
    width: 200px;
    height: 200px;
    overflow: hidden;
    transition: transform 0.1s;
}

/*#cat_spritesheet {
    nimation: movespritesheet 1s steps(4) infinite;
}*/


@keyframes movespritesheet {
    from {
        transform: translate3d(0px,0,0);

    }
    to {
        transform: translate3d(-100%,0,0);

    }
}